{{!-- STUDENT SCHEDULE --}}
<div class="container">
  <div class="jumbotron student-schedule">
    <h4>Schedule</h4>
    <hr>
    <div class="container timetable"></div>
    <button class="btn btn-secondary clear-btn btn-sm" type="clear">Clear Schedule</button>
  </div>
</div>

<script>
  var timetable = new Timetable();
  timetable.setScope(9,20);
  timetable.addLocations(['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']);
  var renderer = new Timetable.Renderer(timetable);
  renderer.draw('.timetable');
</script>

{{!-- CLASS INFO --}}
<div class="container">
  <div class="row">

    {{!-- SUBJECT --}}
    <div class="col-6">
      <div class="jumbotron subject-display">
        <h4>Choose a Subject</h4>
        <ul class="list-group list-group-flush" id="subject-list">
          {{#each subject}}
          <li class="list-group-item">
            <button class="btn btn-link subject-btn btn-sm" data-id="{{id}}" data-name="{{subject_name}}">{{subject_name}}</button>
          </li>
          {{/each}}
          <hr>
        </ul>
      </div>
    </div>

    {{!-- CLASSES --}}
    <div class="col-6">
      <div class="jumbotron classes-display">
        <h4>Classes</h4>
        <ul class="list-group list-group-flush" id="classes-list">
          {{!-- Display classes --}}
        </ul>
      </div>
    </div>

  </div>
</div>