{{!-- STUDENT SCHEDULE --}}
<div class="container">
  <div class="jumbotron student-schedule">
    <div class="container timetable"></div>
  </div>
</div>
<!--You can paste this at the bottom of index.handlebars to see if it works-->


<script src="scripts/timetable.js"></script>

<script>
  console.log("This is working")
    var timetable = new Timetable();
    timetable.setScope(9,8);
    timetable.addLocations(['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']);
     timetable.addEvent('Zumbu', 'Tuesday', new Date(2015,7,17,13,30), new Date(2015,7,17,15), { url: '#' });
     var renderer = new Timetable.Renderer(timetable);
     renderer.draw('.timetable');
</script>

{{!-- CLASS INFO --}}
<div class="container">
  <div class="row">

    {{!-- SUBJECT --}}
    <div class="col-6">
      <div class="jumbotron subject-display">
        <h4>Choose a Subject</h4>
        <ul class="list-group list-group-flush" id="subject-list">
          {{#each subject}}
          <li class="list-group-item">
            <button class="btn btn-link subject-btn btn-sm" data-id="{{id}}" data-name="{{subject_name}}">{{subject_name}}</button>
          </li>
          {{/each}}
          <hr>
        </ul>
      </div>
    </div>

    {{!-- CLASSES --}}
    <div class="col-6">
      <div class="jumbotron classes-display">
        <h4>Classes</h4>
        <ul class="list-group list-group-flush" id="classes-list">
          {{!-- Display classes --}}
        </ul>
      </div>
    </div>

  </div>
</div>

{{!-- FOOTER --}}
<div class="container-fluid footer">
  <div class="row">
    <div class="col-12">
      <hr>
      Created by Alex Simuro, Andy Tran, Emma Stotz, Juan Munoz and Sandy Enow
    </div>
  </div>
</div>