<div class="container navbar-container">
<nav class="navbar fixed-top navbar-light bg-light">
    <button class="btn btn-secondary" onclick="history.back()">
    Back<span class="sr-only navbar-text">(current)</span>
    </button>
</nav>
</div>

<div class="jumbotron jumbotron-fluid">
<div class="container">
    <img src="/assets/img/block-logos-03.svg">
    <p class="lead">Tell us what classes you need to take. We'll take care of the rest.</p>
</div>
</div>

<div class="container">
<div class="card w-50">
<div class="card-body">
    <h5 class="card-title">Login</h5>
    <form>
    <div class="form-group">
        <label for="email-input">Email address</label>
        <input type="email" class="form-control" id="email-input" aria-describedby="emailHelp" placeholder="Enter email">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
        <label for="password-input">Password</label>
        <input type="password" class="form-control" id="password-input" placeholder="Password">
    </div>

    <button type="login" class="btn btn-secondary" id="login">Login</button>
    </form>
    <a href="newUser" type="sign-up" class="sign-up">Sign Up</a>
</div>
</div>
</div>

<footer class="card-footer text-muted">
<container>
    Created by: Alex, Andy, Emma, Juan, and Sandy
</container>
</footer>