<div class="container navbar-container">
<nav class="navbar fixed-top navbar-light bg-light">
    <button class="btn btn-secondary" onclick="history.back()">
    Back<span class="sr-only navbar-text">(current)</span>
    </button>
</nav>
</div>

<div class="jumbotron jumbotron-fluid">
<div class="container">
    <img src="/assets/img/block-logos-03.svg">
</div>
</div>

<div class="container-fluid user-input-container">
<form id="signup-form">
    <div class="form-group">
    <label for="new-email">Email address</label>
    <input type="email" class="form-control" id="new-email" aria-describedby="emailHelp" placeholder="Enter email">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
    <label for="new-password">Password</label>
    <input type="password" class="form-control" id="new-password" placeholder="Password">
    </div>
    <a href="#">
    <button type="submit" class="btn btn-secondary" id="sign-up-button">Sign Up</button>
    </a>
</form>
</div>

<footer class="card-footer text-muted">
<container>
    Created by: Alex, Andy, Emma, Juan, and Sandy
</container>
</footer>