body {
  background-image: url(../img/dark-honeycomb.png);
  background-repeat: repeat;
  text-align: center;
  color: black;
}

div.jumbo-logo {
  text-align: center;
  background-color: transparent !important;
  margin-top: 0%;
  margin-bottom: 0%;
  padding-top: 1%;
  padding-bottom: 1%;
}

img.block-logo{
  width: 50%;
  height: auto;
}

li.list-group-item {
  background-color: transparent;
  text-align: center;
}

a:link {
  color: #2E7FAD;
  text-decoration: none;
}

a:visited {
  color: #2E7FAD;
  text-decoration: none;
}

a:hover {
  color: #2E7FAD;
  text-decoration: underline;
}

a:active {
  color: #2E7FAD;
  text-decoration: none;
}

button.btn-sm {
  margin-bottom: 1%;
  color: #2E7FAD;
}

button.btn-secondary {
  margin-top: 1%;
  background-color: #2E7FAD;
  color: white;
}

div.subject-display {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.5);
  color: black;
  padding-top: 2%;
  padding-bottom: 2%;
}

div.classes-display {
  background-color: rgba(255, 255, 255, 0.5);
  padding-top: 2%;
  color: black;
  text-align: center;
  padding-bottom: 0;
}

div.student-schedule {
  background-color: rgba(255, 255, 255, 0.5);
  padding-top: 2%;
  color: black;
  text-align: center;
  padding-bottom: 0;
}

h4 {
  text-align: center;
  color: black;
}

div.footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
  padding-bottom: 1%;
  font-size: 8pt;
}